
  <div class="blog-content-section clearfix">

    <div class="main-content">

        <section>

          <div *ngIf="blogs">
            <article *ngFor="let blog of blogs">
              <h1>{{blog.title}}</h1>
              <h4>{{blog.author}}</h4>
              <!-- <time>{{blog.date}}</time> -->

              <p>{{displayTruncatedContent(blog.description)}}</p>
              <!-- <p class="more"><a (click)="openSingleArticle(blog)">Read More &raquo;</a></p> -->
              <button class="button" [routerLink]="['/single-article', blog.id]">Read more</button>
              <br><br><br>

              <!-- <button type="submit" class="button" (click)="onSubmit($event)">
                  Submit
                </button> -->


          </article>

          </div>

          </section>
          </div>

          <div class="sidebar">
            <p>TESTING SIDEBAR</p>

        </div>

  </div>
