
  .blog-content-section{
    width: 90%;
    margin: 30px auto 30px;
    border: 1px solid skyblue;
  
  }
  
  .blog-content-section .main-content{
    width: 70%;
    float: left;
    border: 1px solid blue;
  
  }
  
  .blog-content-section .sidebar{
    width: 29%;
    float: left;
    border: 1px solid green;
    height: 300px;
  }