<div class="contact-us-section">

<p>CONTACT US</p>

<form class="contact-us-content" [formGroup]="contactUsFormGroup">
  <!--NAME-->
  <div>
    <label class="label">Name</label><br>
    <input type="text" formControlName="name">
  </div>
  <br/>

  <!--EMAIL-->
<div>
  <label class= "label">Email</label><br>
  <input type="text" formControlName="email">
</div>
<br>
  
  <!--MESSAGE-->
  <div>
      <label class= "label">Enquiries</label><br>
      <textarea area name="message" class="textarea"></textarea>
    </div>


  <br/>
  <button type="submit" class="button" (click)="onSubmit($event)">
    Submit
  </button>
</form>
</div>