
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
  }
  
  body {
    margin: 0;
    padding-bottom: 30px;
    
    //background-color: #f2f2f2;
    //min-height: 100vh;
    //display: flex;
    //flex-direction: column;
  }


  
  
  header {
    position: relative;
    display: block;
    height: auto;
    background-color: black;
    padding: 0 250px;
  }
  #header-logo {
    display: inline-block;
    width: 200px;
    position: relative;
    padding: 20px 0;
  }
  .header-logo--title {
    font-weight: normal;
  }
  .header-logo--title a {
    text-decoration: none;
    color: rgb(177, 177, 177);
  }  
  .header-logo--subtitle {
    color: rgb(177, 177, 177);
  }
  #header-navigation {
    float: right;
    width: 500px;
    padding: 40px 0;
    text-align: center;
  }
  #header-navigation ul {
    list-style-type: none;
  }
  #header-navigation ul li {
    display: inline;
    margin-right: 15px;
    text-transform: uppercase;
  }
  #header-navigation ul li a {
    color: rgb(177, 177, 177);
    text-decoration: none;
  }
  main{
    width: 90vw;
    margin: 0 auto;
    
  }
  clearfix::after{
    content: " ";
    display: block;
    clear: both;
  }
  footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    //display: block;
    height: 30px;
    background-color: black;
    color: white;
    //margin-top: auto;
    text-align: center;
  }