<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Pebble IT</title>
<meta charset="UTF-8">
<!-- <link rel="stylesheet" href="layout.css" type="text/css"> -->

</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="#">Pebble IT</a></h1>
      <h2>Serverless Website Prototype</h2>
    </div>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Blog</a></li>
        <li class="last"><a href="#">Contact Us</a></li>
      </ul>
    </nav>
    <div class="clear"></div>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container">
    <!-- content body -->
    <div id="content">
      <!-- section 1 -->
      <section>
        <!-- article 1 -->
        <article>
          <h2>Post Title 1</h2>
          <address>
          Ken Nguyen
          </address>
          <time>Sunday, 12<sup>th</sup> June 2020</time>
          
          <p>INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT 
              INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT
              INSERT TEXT INSERT TEXT
              INSERT TEXT INSERT TEXT
              INSERT TEXT INSERT TEXT </p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <!-- article 2 -->
        <article>
          <h2>Post Title 2</h2>
          <address>
          Bill Johnson
          </address>
          <time>Friday, 6<sup>th</sup> April 2018</time>
          
          <p>INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT 
              INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT
              INSERT TEXT INSERT TEXT
              INSERT TEXT INSERT TEXT
              INSERT TEXT INSERT TEXT </p>
              
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>

        <article>
          <h2>Post Title 3 </h2>
          <address>
          Robert Neville
          </address>
          <time>Friday, 3<sup>th</sup> April 2019</time>
          
          <p>INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT 
              INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT INSERT TEXT
              INSERT TEXT INSERT TEXT
              INSERT TEXT INSERT TEXT
              INSERT TEXT INSERT TEXT </p>
              
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        
      </section>
    
    
    </div>  
 
    <!-- / content body -->
    <div class="clear"></div>
  </div>
</div>
<!-- footer -->
<div class="wrapper row3">
  <footer id="footer">
    
    <p class="fl_right">by Federation University</p>
    <div class="clear"></div>
  </footer>
</div>
</body>
</html>
