

  <!DOCTYPE html>
  <html>
    <head>
      <title>Pebble IT</title>
      
    </head>
  
  
  
    <body>
  
      <header>
        <div id="header-logo">
          <h1 class="header-logo--title"><a href="#">Pebble IT</a></h1>
          <p class="header-logo--subtitle">Serverless Website Prototype</p>
        </div>
        <nav id="header-navigation">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a (click)="page = 'article-list'">Blog</a></li>
            <li><a (click)="page = 'contact-us'">Contact Us</a></li>
            
            
          </ul>
        </nav>
      </header>
      <main>
      <div id="app-content"> 
          <app-article-list *ngIf="page === 'article-list'"
            (onOpenSingleArticle)="handleOpeningSingleArticle($event)"
          ></app-article-list>
          <!-- <app-download *ngIf="page === 'download'"></app-download> -->
          <app-contact-us *ngIf="page === 'contact-us'"></app-contact-us>
          <app-single-article *ngIf="page === 'single-article'"
            [blog]="blog"
          ></app-single-article>

      </div>
      </main>

      <footer>
        <p class="push-right">by Federation University</p>
      </footer>
  
    </body>
  </html>