

  <!DOCTYPE html>
  <html>
    <head>
      <title>Pebble IT</title>

    </head>



    <body>
      
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
              <a class="navbar-brand">FEDERATION UNIVERSITY</a>
              <!-- <button class="navbar-toggler navbar-toggler-right" 
                type="button" 
                data-toggle="collapse" d
                ata-target="#navbarResponsive" 
                aria-controls="navbarResponsive" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                  Menu
                <i class="fas fa-bars"></i>
              </button> -->
              <div>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href=#>Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href=#>About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/article-list'" [routerLinkActive]="'menuActive'">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/contact-us'" [routerLinkActive]="'menuActive'">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <!-- Page Header -->
          <header class="masthead">
            <div class="overlay"></div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  <div class="site-heading">
                    <h1>SERVERLESS WEBSITE</h1>
                    <span class="subheading">a project for Pebble IT</span>
                  </div>
                </div>
              </div>
            </div>
          </header>

<!--       

      <header>
        <div id="header-logo">
          <h1 class="header-logo--title"><a href="#">Pebble IT</a></h1>
          <p class="header-logo--subtitle">Serverless Website Prototype</p>
        </div>
        <nav id="header-navigation">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a [routerLink]="'/article-list'" [routerLinkActive]="'menuActive'">Blog</a></li>
            <li><a [routerLink]="'/contact-us'" [routerLinkActive]="'menuActive'">Contact Us</a></li>
          </ul>
        </nav>
      </header> -->


      <main>
      <div id="app-content">

        <router-outlet></router-outlet>

      </div>
      </main>

     

    </body>
  </html>
